*/* cairo
*/* dot gpg kxb smi svc widevine smime egl jadetex pstricks
*/* pgo
# */* dri3 xvmc
*/* glamor
*/* gimp
*/* qt4 qt5 gtk gtk3 widgets gui
*/* gles2
*/* usbredir
*/* x265 fdk

dev-python/PyQt5 declarative printsupport webengine webchannel widgets network multimedia
dev-qt/*         declarative printsupport webengine webchannel widgets qml multimedia

app-crypt/gnupg tools
app-doc/doxygen doxysearch
app-emulation/docker experimental overlay aufs
app-emulation/virtualbox extensions
app-office/libreoffice google collada gltf odk vlc
app-text/texlive xetex extra context detex dvi2tty epspdf games graphics humanities luatex metapost music omega pdfannotextractor pstricks publishers science tex4ht texi2html xindy
app-text/texlive-core xetex
app-text/zathura-meta cb
dev-db/sqlmap ntlm
mail-client/mutt -berkdb -gdbm lmdb -qdbm -tokyocabinet
mail-client/mutt sidebar notmuch
media-libs/libpng apng
media-libs/libvpx postproc
media-libs/openal utils
media-sound/beets chroma convert discogs lastgenre opus replaygain
net-analyzer/nmap ncat ndiff nping nmap-update
net-dns/dnsmasq lua script dhcp dhcp-tools dnssec
net-misc/openconnect gssapi lz4 stoken
net-misc/openvpn socks
net-misc/tigervnc server
net-wireless/gnuradio grc
sys-apps/dstat wifi
sys-apps/systemd importd
sys-devel/autogen libopts
sys-devel/distcc crossdev
sys-libs/zlib minizip
sys-process/htop oom
www-client/uzbl experimental
x11-base/xorg-server xvfb
x11-misc/redshift geoclue
x11-terms/rxvt-unicode -vanilla 256-color buffer-on-clear fading-colors wcwidth unicode3
x11-drivers/nvidia-drivers uvm

# To respect: `at-most-one-of ( qt4 qt5 )`
net-wireless/wpa_supplicant -qt4
app-crypt/pinentry -qt4
media-libs/opencv -qt4

# To respect: `( exactly-one-of ( gles2 opengl ) )`
net-libs/webkit-gtk -gles2

dev-util/unicorn unicorn_targets_x86

<% if has_feature? :tmux %>
app-shells/fzf tmux
<% end %>
<% if has_feature? :vim %>
app-editors/vim vim-pager
<% end %>

<% if has_feature? :clang %>
*/* clang
<% end %>

<% if has_feature? :go %>
*/* go
<% end %>


# vim: set filetype=eruby.gentoo-package-use :
