x11-terms/rxvt-unicode -vanilla
x11-terms/rxvt-unicode 256-color
x11-terms/rxvt-unicode buffer-on-clear
x11-terms/rxvt-unicode fading-colors
x11-terms/rxvt-unicode wcwidth
x11-terms/rxvt-unicode unicode3
