mail-client/mutt ~amd64
www-client/firefox ~amd64
www-client/uzbl **
dev-lang/ruby ~amd64

# Needed by `mail-client/mutt`
app-shells/bash-completion ~amd64

# Needed by `dev-lang/ruby`.
app-eselect/eselect-ruby ~amd64
dev-ruby/*               ~amd64
virtual/ruby*            ~amd64

# Needed by `www-client/firefox`.
dev-libs/nss ~amd64
