# ─────────────────────────────────────────────────────────────────────────────┐
#                                                                              │
# File informations:                                                           │
# - Name:    elems/package.keywords/only_unstable.conf.tt                      │
# - Summary: Package keywords used to enable temporary packages marked as      │
#            unstable. Packages listed here have been enabled because          │
#            currently **there isn't an available stable version of those      │
#            packages                                                          │
# - Authors:                                                                   │
#   - Alessandro Molari <molari.alessandro@gmail.com> (alem0lars)              │
#                                                                              │
# Project informations:                                                        │
#   - Homepage:        https://github.com/alem0lars/configs-portage            │
#   - Getting started: see README.md in the project root folder                │
#                                                                              │
# License: Apache v2.0 (see below)                                             │
#                                                                              │
# ─────────────────────────────────────────────────────────────────────────────┤
#                                                                              │
# Licensed to the Apache Software Foundation (ASF) under one more contributor  │
# license agreements.  See the NOTICE file distributed with this work for      │
# additional information regarding copyright ownership. The ASF licenses this  │
# file to you under the Apache License, Version 2.0 (the "License"); you may   │
# not use this file except in compliance with the License.                     │
# You may obtain a copy of the License at                                      │
#                                                                              │
#   http://www.apache.org/licenses/LICENSE-2.0                                 │
#                                                                              │
# Unless required by applicable law or agreed to in writing, software          │
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT    │
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.             │
# See the License for the specific language governing permissions and          │
# limitations under the License.                                               │
#                                                                              │
# ─────────────────────────────────────────────────────────────────────────────┘


# `gentoo-haskell` overlay has only unstable packages by policy:
# https://github.com/gentoo-haskell/gentoo-haskell#quickest-start
*/*::haskell ~amd64

# `apo` overlay has only unstable packages by policy
*/*::apo

# When firefox >= 57 (non bin) becomes stable, unmerge firefox-bin and install
# firefox stable
www-client/firefox-bin ~amd64

app-crypt/steghide           ~amd64
app-admin/lnav               ~amd64
app-admin/salt               ~amd64
app-backup/attic             ~amd64
app-crypt/hashcat            ~amd64
app-crypt/nitrokey-app       ~amd64
app-editors/neovim           ~amd64
app-emacs/ghc-mod            ~amd64
app-emulation/docker-compose ~amd64
app-emulation/vagrant        ~amd64
app-emulation/wine-mono      ~amd64
app-emulation/wine-staging   ~amd64
app-forensics/afl            ~amd64
app-forensics/radamsa        ~amd64
app-forensics/scalpel        ~amd64
app-i18n/translate-shell     ~amd64
app-misc/ttyrec              ~amd64
app-shells/fasd              ~amd64
app-text/sigil               ~amd64

dev-db/sqlmap                       ~amd64
dev-libs/capstone                   ~amd64
dev-libs/unicorn-bindings           ~amd64
dev-libs/log4cxx                    ~amd64
dev-python/mwclient                 ~amd64
dev-ruby/awesome_print              ~amd64
dev-ruby/pry                        ~amd64
dev-ruby/thor                       ~amd64
dev-util/android-sdk-update-manager ~amd64
dev-util/complexity                 ~amd64
dev-util/dasht                      ~amd64
dev-util/dex2jar                    ~amd64
dev-util/heroku-client              ~amd64
dev-util/protege                    ~amd64
dev-util/racer                      **
dev-util/unicorn                    ~amd64
dev-vcs/git-crypt                   ~amd64
dev-vcs/git-imerge                  ~amd64
dev-vcs/gitinspector                ~amd64
dev-vcs/hub                         ~amd64
dev-embedded/dfu-programmer         ~amd64

media-fonts/hack           ~amd64
media-gfx/plantuml         ~amd64
media-gfx/pngquant         ~amd64
media-gfx/gmic             ~amd64
media-plugins/gimp-lensfun ~amd64
media-sound/beets          ~amd64
media-sound/cmusfm         ~amd64
media-sound/playerctl      ~amd64
media-video/handbrake      ~amd64

net-analyzer/tsung                   ~amd64
net-analyzer/bro                     ~amd64
net-im/telegram-desktop-bin          ~amd64
net-misc/icaclient                   ~amd64
net-misc/httpie                      ~amd64
net-misc/megatools                   ~amd64
net-misc/nxplayer                    ~amd64
net-print/epson-inkjet-printer-escpr ~amd64
net-vpn/logmein-hamachi              ~amd64
net-wireless/gnuradio                ~amd64
net-analyzer/metasploit              ~amd64

sci-electronics/quartus-prime-lite ~amd64

www-apps/etherpad-lite        ~amd64
www-plugins/google-talkplugin ~amd64
www-servers/pshs              ~amd64

x11-apps/copyq            ~amd64
x11-misc/taffybar         ~amd64
x11-misc/py3status        ~amd64
x11-themes/arc-icon-theme ~amd64
x11-themes/arc-theme      ~amd64

sci-CRAN/readr   ~amd64
sci-CRAN/ggplot2 ~amd64
sci-CRAN/dplyr   ~amd64


# vim: set filetype=eruby.gentoo-package-keywords :
