# ─────────────────────────────────────────────────────────────────────────────┐
#                                                                              │
# File informations:                                                           │
# - Name:    elems/package.keywords/only_unstable.conf.tt                      │
# - Summary: Package keywords used to enable temporary packages marked as      │
#            unstable. Packages listed here have been enabled because          │
#            currently **there isn't an available stable version of those      │
#            packages                                                          │
# - Authors:                                                                   │
#   - Alessandro Molari <molari.alessandro@gmail.com> (alem0lars)              │
#                                                                              │
# Project informations:                                                        │
#   - Homepage:        https://github.com/alem0lars/configs-portage            │
#   - Getting started: see README.md in the project root folder                │
#                                                                              │
# License: Apache v2.0 (see below)                                             │
#                                                                              │
# ─────────────────────────────────────────────────────────────────────────────┤
#                                                                              │
# Licensed to the Apache Software Foundation (ASF) under one more contributor  │
# license agreements.  See the NOTICE file distributed with this work for      │
# additional information regarding copyright ownership. The ASF licenses this  │
# file to you under the Apache License, Version 2.0 (the "License"); you may   │
# not use this file except in compliance with the License.                     │
# You may obtain a copy of the License at                                      │
#                                                                              │
#   http://www.apache.org/licenses/LICENSE-2.0                                 │
#                                                                              │
# Unless required by applicable law or agreed to in writing, software          │
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT    │
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.             │
# See the License for the specific language governing permissions and          │
# limitations under the License.                                               │
#                                                                              │
# ─────────────────────────────────────────────────────────────────────────────┘


# gentoo-haskell overlay has only unstable packages by policy:
# https://github.com/gentoo-haskell/gentoo-haskell#quickest-start
*/*::haskell ~amd64

# alem0lars packages has only unstable packages by policy
*/*::apo

app-admin/eclean-kernel      ~amd64
app-admin/lnav               ~amd64
app-admin/salt               ~amd64
app-backup/attic             ~amd64
app-crypt/hashcat            ~amd64
app-editors/neovim           ~amd64
app-emacs/ghc-mod            ~amd64
app-emulation/vagrant        ~amd64
app-emulation/wine           ~amd64
app-emulation/winetricks     ~amd64
app-forensics/afl            ~amd64
app-forensics/radamsa        ~amd64
app-forensics/scalpel        ~amd64
app-i18n/translate-shell     ~amd64
app-misc/geeknote            ~amd64
app-misc/buku                ~amd64
app-misc/nitrokey-app        ~amd64
app-misc/tmsu                ~amd64
app-misc/tmuxinator          ~amd64
app-misc/sman                ~amd64
app-misc/ttyrec              ~amd64
app-shells/fasd              ~amd64
app-emulation/docker-compose ~amd64
app-emulation/packer         ~amd64

dev-db/sqlmap                       ~amd64
dev-lang/julia                      ~amd64
dev-python/sympy                    ~amd64
dev-python/twisted                  ~amd64
dev-python/mwclient                 ~amd64
dev-ruby/awesome_print              ~amd64
dev-ruby/pry                        ~amd64
dev-ruby/thor                       ~amd64
dev-util/heroku-client              ~amd64
dev-util/dex2jar                    ~amd64
dev-util/android-sdk-update-manager ~amd64
dev-util/complexity                 ~amd64
dev-util/dasht                      ~amd64
dev-util/protege                    ~amd64
dev-util/racer                      **
dev-libs/capstone                   ~amd64
dev-util/unicorn                    ~amd64
dev-libs/unicorn-bindings           ~amd64
dev-vcs/git-crypt                   ~amd64
dev-vcs/git-imerge                  ~amd64
dev-vcs/gitinspector                ~amd64
dev-vcs/hub                         ~amd64

media-fonts/hack           ~amd64
media-gfx/plantuml         ~amd64
media-gfx/pngquant         ~amd64
media-gfx/gmic             ~amd64
media-plugins/gimp-lensfun ~amd64
media-sound/beets          ~amd64
media-sound/cmusfm         ~amd64

net-misc/icaclient    ~amd64
net-misc/teamviewer   ~amd64
net-analyzer/tsung    ~amd64
net-analyzer/bro      ~amd64
net-misc/httpie       ~amd64
net-misc/megatools    ~amd64
net-wireless/gnuradio ~amd64
net-print/epson-inkjet-printer-escpr ~amd64
net-vpn/logmein-hamachi ~amd64

# Works with the default RUBY_TARGETS
<net-analyzer/metasploit-4.13 ~amd64

sci-electronics/quartus-prime-lite ~amd64

sys-apps/yarn ~amd64

sys-kernel/dracut         ~amd64
sys-kernel/linux-firmware ~amd64

www-apps/etherpad-lite        ~amd64
www-plugins/google-talkplugin ~amd64
www-servers/pshs              ~amd64

x11-apps/copyq            ~amd64
x11-misc/taffybar         ~amd64
x11-themes/arc-icon-theme ~amd64
x11-themes/arc-theme      ~amd64

sci-CRAN/readr   ~amd64
sci-CRAN/ggplot2 ~amd64
sci-CRAN/dplyr   ~amd64

# Needed by `dev-libs/capstone`
dev-python/capstone-python ~amd64

# Needed by `media-gfx/pngquant`
media-libs/libpng ~amd64

# Needed by `app-forensics/afl`.
app-crypt/rhash ~amd64

# Needed by `net-analyzer/metasploit`.
app-eselect/eselect-metasploit ~amd64
app-eselect/eselect-rails ~amd64

# Needed by `dev-haskell/taffybar`
dev-haskell/xdg-basedir     ~amd64
dev-haskell/dyre            ~amd64
dev-haskell/io-storage      ~amd64
dev-haskell/hstringtemplate ~amd64
dev-haskell/gtk-traymanager ~amd64

# Needed by `net-misc/httpie`.
dev-python/pygments ~amd64

# Needed by `app-misc/geeknote`
dev-util/apache-thrift         ~amd64
dev-python/evernote-sdk-python ~amd64

# Needed by `sci-CRAN/dplyr`
sci-CRAN/R6         ~amd64
sci-CRAN/DBI        ~amd64
sci-CRAN/magrittr   ~amd64
sci-CRAN/tibble     ~amd64
sci-CRAN/assertthat ~amd64
sci-CRAN/lazyeval   ~amd64
sci-CRAN/Rcpp       ~amd64
sci-CRAN/BH         ~amd64

# Needed by `sci-CRAN/ggplot2`
sci-CRAN/gtable       ~amd64
sci-CRAN/readxl       ~amd64
sci-CRAN/dichromat    ~amd64
sci-CRAN/stringi      ~amd64
sci-CRAN/labeling     ~amd64
sci-CRAN/colorspace   ~amd64
sci-CRAN/scales       ~amd64
sci-CRAN/RColorBrewer ~amd64
sci-CRAN/digest       ~amd64
sci-CRAN/stringr      ~amd64
sci-CRAN/munsell      ~amd64
sci-CRAN/reshape2     ~amd64
sci-CRAN/hms          ~amd64
virtual/MASS          ~amd64
sci-CRAN/plyr         ~amd64

# Needed by `sci-CRAN/readr`
sci-CRAN/curl ~amd64

# Needed by `app-emulation/docker-compose`
dev-python/ipaddress        ~amd64
dev-python/docker-pycreds   ~amd64
dev-python/dockerpty        ~amd64
dev-python/cached-property  ~amd64
dev-python/websocket-client ~amd64
dev-python/docker-py        ~amd64
dev-python/colorama         ~amd64

# Needed by `media-plugins/gimp-lensfun`
media-libs/lensfun ~amd64

# Needed by `dev-python/twisted`
dev-python/pyopenssl            ~amd64
sys-libs/compiler-rt-sanitizers ~amd64
dev-python/incremental          ~amd64
dev-python/constantly           ~amd64
dev-python/m2r                  ~amd64
dev-python/automat              ~amd64
dev-python/hyperlink            ~amd64

# Needed by `media-sound/beets`
dev-python/jellyfish  ~amd64
dev-python/munkres    ~amd64
dev-python/pyacoustid ~amd64
dev-python/audioread  ~amd64

# Needed by `net-analyzer/bro`.
net-analyzer/ipsumdump ~amd64

# Needed by `dev-python/sympy`.
dev-python/mpmath ~amd64

# Needed by `dev-util/racer`.
dev-util/rust-sources ~amd64

# Needed by `app-misc/tmsu`.
dev-go/go-sqlite3 ~amd64
dev-libs/go-fuse  ~amd64

# Needed by `app-editors/neovim`.
dev-ruby/neovim-ruby-client     ~amd64
dev-libs/libtermkey             ~amd64
dev-lua/lpeg                    ~amd64
dev-libs/msgpack                ~amd64
dev-lua/mpack                   ~amd64
dev-libs/libvterm               ~amd64
dev-python/neovim-python-client ~amd64
dev-libs/unibilium              ~amd64
dev-ruby/msgpack                ~amd64

# Needed by `app-emacs/ghc-mod`.
dev-haskell/cabal-helper  ~amd64
dev-haskell/monad-journal ~amd64
dev-haskell/fclabels      ~amd64
dev-haskell/ghc-syb-utils ~amd64
dev-haskell/djinn-ghc     ~amd64
dev-haskell/convertible   ~amd64
dev-haskell/djinn-lib     ~amd64
dev-haskell/either        ~amd64
dev-haskell/pipes         ~amd64
dev-haskell/monadrandom   ~amd64

# Needed by `dev-ruby/pry`.
dev-ruby/slop          ~amd64
dev-ruby/method_source ~amd64

# Needed by `dev-db/sqlmap`.
dev-python/python-ntlm

# Needed by `app-admin/eclean-kernel`.
dev-python/pymountboot ~amd64

# Needed by `app-emulation/vagrant`.
dev-ruby/i18n                 ~amd64
dev-ruby/pkg-config           ~amd64
dev-ruby/bundler              ~amd64
dev-ruby/rb-inotify           ~amd64
dev-ruby/ruby_dep             ~amd64
dev-ruby/hashicorp-checkpoint ~amd64
dev-ruby/rest-client          ~amd64
dev-ruby/net-ssh              ~amd64
dev-ruby/listen               ~amd64
dev-ruby/nokogiri             ~amd64

# Needed by `dev-lang/julia`.
dev-libs/double-conversion ~amd64
dev-libs/openspecfun       ~amd64
sci-libs/openlibm          ~amd64
virtual/blas               ~amd64


# vim: set filetype=eruby.gentoo-package-keywords :
